[general]
DOCKER_IMAGE_NAME = <yourname>/django-docker
ROOT_PASSWORD = root

[production]
SECRET_KEY = putsomethingreallylonghere
HOST =  0.0.0.0                 ; IP address of your production server
USE_PASSWORD = false            ; false = use SSH key authentication; true = use password
USERNAME = root
PASSWORD = (empty)
PUBLIC_KEY = ~/.ssh/id_dsa.pub  ; Your public SSH key
DATABASE_HOST = 0.0.0.0         ; IP address of your database server
DATABASE_USERNAME = root
DATABASE_PASSWORD = rootpassword
DATABASE_NAME = django
